<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secretariat_Soft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Secretariat_Soft.Properties.Settings>
            <setting name="User_name" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="User_Id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="admin_user_id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="selected_bg_name" serializeAs="String">
                <value>0.jpg</value>
            </setting>
        </Secretariat_Soft.Properties.Settings>
    </userSettings>
</configuration>